.card {
  margin-bottom: 30px;
}
.card .card-body {
  box-shadow: 0 0 .5em .2em #aaa;
}
.card-title{
  color: #0056b3;
}
ul.post-tags {
  padding: 0;
  display: inline-flex;
  list-style: none;

  li {
    margin-right: 10px;
  }
}
.badge {
  padding: .5em;
  box-shadow: 0em 0em 0.5em 0.1em #aaa;
}
.btn {
  box-shadow: 0em 0em 0.5em 0.1em #aaa;
}